<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="~/Group_Logo_Head.ico"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DWC_NightOwlProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DWC_NightOwlProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
<<<<<<< HEAD
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
=======
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom shadow-lg p-3 mb-3 rounded">
>>>>>>> 8ce7a2ce2b50eb488911de6fe74aff6593cd5b0d
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  src="~/css/dragon_Logo.png" alt="dragon logo for Campaign Creator" style="width: 110px; height: 130px"/></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/css/motto 1.png" alt="The night is ours, but the future is yours!" style="height: 120px;" />
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                    <partial name="_LoginPartial" />
               
            </div>
        </nav>
    </header>


                <div class="vnav">
                    <ul>
                        <li>
                             <div class="image">
                                <img src="~/css//home.png" width="50" height="auto" alt="nav-pic">
                            
                            
                               </div>
                               <a class="nav-link" id = "Nav_Bar_Home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item2">
                            <div class="image">
                                <img src="~/css/global.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id = "Nav_Bar_World" asp-area="" asp-controller="World" asp-action="Index">World</a>

                        </li>
                        
                        <li>
                            <div class="image">
                        <img src="~/css//open-book.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" asp-area="" asp-controller="Backstory" asp-action="Index" id="backstoryButton">Backstory</a>
                            
                        </li>
                        

                        <li>
                            <div class="image">
                                <img src="~/css/question-mark.png" width="50" height="auto" alt="nav-pic"/>
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Quest" asp-area="" asp-controller="Quests" asp-action="Index">Quests</a>
                        </li>

                         <li><div class="image">
                        <img src="~/css/knight.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Character" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
                            
                        </li>
                        <li>
                            <div class="image">
                                <img src="~/css/maps.png" width="50" height="auto" alt="nav-pic" />
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Maps" asp-area="" asp-controller="Maps" asp-action="Index">Maps</a>
                        </li>
                        <li>
                <div class="image">
                    <img src="~/css/swords.png" width="50" height="auto" alt="nav-pic" />
                </div>
                            <a class="nav-link" asp-area="" asp-controller="Encounter" asp-action="Index">Encounters</a>
                        </li>
                    </ul>
                </div>
               


    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div id="Company_Name">
        &copy; 2023 - Night Owl Studios
        </div>
        <div id="footerContainer">
            <div id="imginthefooter">
                <img src="~/css/Group_Logo_Head.png" width="400" height="auto" id = "Logo" alt="LogoPic">    
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sheetabilities.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
