<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.min.css" asp-append-version="true">
    <link rel="icon" href="~/Group_Logo_Head.ico"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DWC_NightOwlProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DWC_NightOwlProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img  src="~/css/dragon_Logo.png" alt="dragon logo for Campaign Creator" style="width: 150px; height: 170px"/></a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <img src="~/css/motto 1.png" alt="The night is ours, but the future is yours!" style="position: relative; float:left;" />
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                </button>

                    <partial name="_LoginPartial" />
               
            </div>
        </nav>
    </header>


                <div class="vnav">
                    <ul>
                        <li>
                             <div class="image">
                                <img src="~/css//home.png" width="50" height="auto" alt="nav-pic">
                            
                            
                               </div>
                               <a class="nav-link" id = "Nav_Bar_Home" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item2">
                            <div class="image">
                                <img src="~/css/global.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id = "Nav_Bar_World" asp-area="" asp-controller="World" asp-action="Index">World</a>

                        </li>
                        
                        <li>
                            <div class="image">
                        <img src="~/css//open-book.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" asp-area="" asp-controller="Backstory" asp-action="Index" id="backstoryButton">Backstory</a>
                            
                        </li>
                        

                        <li>
                            <div class="image">
                                <img src="~/css/question-mark.png" width="50" height="auto" alt="nav-pic"/>
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Quest" asp-area="" asp-controller="Quests" asp-action="Index">Quests</a>
                        </li>

                         <li><div class="image">
                        <img src="~/css/knight.png" width="50" height="auto" alt="nav-pic">
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Character" asp-area="" asp-controller="Character" asp-action="Index">Characters</a>
                            
                        </li>
                        <li>
                            <div class="image">
                                <img src="~/css/maps.png" width="50" height="auto" alt="nav-pic" />
                            </div>
                            <a class="nav-link" id = "Nav_Bar_Maps" asp-area="" asp-controller="Maps" asp-action="Index">Maps</a>
                        </li>
                        <li>
                @*Code from https://blog.shahednasser.com/how-to-style-an-audio-element/ by Shahed Nasser
                <div class="audio-player">
                    <div class="icon-container">
                        <svg xmlns="http://www.w3.org/2000/svg" class="audio-icon" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z" />
                        </svg>
                    </div>
                    <audio src="~/please-calm-my-mind-125566.mp3" autoplay loop></audio>
                    <div class="controls">
                        <button class="player-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
                                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <input type="range" class="timeline" max="100" value="0">
                        <button class="sound-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#3D3132">
                                <path fill-rule="evenodd" d="M9.383 3.076A1 1 0 0110 4v12a1 1 0 01-1.707.707L4.586 13H2a1 1 0 01-1-1V8a1 1 0 011-1h2.586l3.707-3.707a1 1 0 011.09-.217zM14.657 2.929a1 1 0 011.414 0A9.972 9.972 0 0119 10a9.972 9.972 0 01-2.929 7.071 1 1 0 01-1.414-1.414A7.971 7.971 0 0017 10c0-2.21-.894-4.208-2.343-5.657a1 1 0 010-1.414zm-2.829 2.828a1 1 0 011.415 0A5.983 5.983 0 0115 10a5.984 5.984 0 01-1.757 4.243 1 1 0 01-1.415-1.415A3.984 3.984 0 0013 10a3.983 3.983 0 00-1.172-2.828 1 1 0 010-1.415z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>*@
                        </li>
                    </ul>
                </div>
               


    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div id="Company_Name">
        &copy; 2023 - Night Owl Studios
        </div>
        <div id="footerContainer">
            <div id="imginthefooter">
                <img src="~/css/Group_Logo_Head.png" width="400" height="auto" id = "Logo" alt="LogoPic">    
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sheetabilities.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
