@model DWC_NightOwlProject.ViewModel.ViewModelWorld
@{
    ViewData["Title"] = "World";
}

<div class="text-center">
    @if(Model!=null)
    {
        <h2>@Model.ThisWorld.Name</h2>
        <a class="nav" style="color:brown;font-size:24" asp-controller="Character" asp-action="Index">World Characters</a>
        <a class="nav" style="color:brown;font-size:24" asp-controller="Quests" asp-action="Index">World Quests</a>
    }
    else
    {
        <form asp-action="Index"  method="post">
            <label asp-for="WorldName" class="control-label">World name</label>
            <input asp-for="WorldName" class="form-control">
            <span asp-validation-for="WorldName" class="text-danger"></span>
            <input type="submit" value="Create world">
        </form>
    }
    @if(ViewBag.Message!=null)
    {
        <p>@ViewBag.Message</p>
    }
</div>
