@model DWC_NightOwlProject.ViewModel.ViewModelWorld
@{
    ViewData["Title"] = "World";
}

<div class="text-center">
    @if(Model != null)
    {
        <h1>@Model.ThisWorld.Name</h1>

        <a asp-controller="Backstory" asp-action="Index"><h2>Backstory:</h2></a>
        <h3>@ViewBag.Completion</h3>

        <a asp-controller="Quests" asp-action="Index"><h2>Quests:</h2></a>
        <h3>Still filling in stuff</h3>

        <a asp-controller="Characters" asp-action="Index"><h2>Characters:</h2></a>
        <h3>Also still filling it in</h3>

        <h2>Maps:</h2>
        <h3>filling in for some shtuff</h3>
    }
    else
    {
        <form asp-action="Index"  method="post">
            <label asp-for="WorldName" class="control-label">World name</label>
            <input asp-for="WorldName" class="form-control">
            <span asp-validation-for="WorldName" class="text-danger"></span>
            <input type="submit" value="Create world">
        </form>
    }
    @if(ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }
</div>
