@{
    ViewData["Title"] = "About Us";
}

<h2>Our Vision</h2>
<p>"Our vision as a Web Development team is to push the boundaries of 
    what is possible within the realm of Dungeons and Dragons. By utilizing cutting-edge AI technology, 
    we aim to create a web application that helps Dungeon Masters immerse their players in their campaigns 
    and elevate the D&D experience to new heights. Although there are similar sites out there such as World Anvil, 
    ours is different and unique. Our goal is to empower players with tools/resources that facilitate enhanced character development and 
    dynamic storytelling, making the game more engaging and personalized than ever before. Unlike the competetion, 
    who uses in house randomization for creating text models, our application uses Artifical Intelligence combined with 
    creative input from the user to create Quests in any World environment. Our site will allow users to download maps, player models, and quest storylines 
    for Dungeon Masters to use however they want. Through our work, we will bring the game to new heights and create an unforgettable experience for all."</p>

<h2>Our Team</h2>
<div class="row">
    <div class="col-md-3">
        <h3>Jade</h3>
        <p>Insert information about Developer 1 here</p>
        <p>Socials: </p>
        <a href="https://twitter.com/jade_username"><i class="fab fa-twitter"></i> Twitter</a><br>
        <a href="https://www.linkedin.com/in/jade_username/"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
        <a href="https://github.com/jade_username"><i class="fab fa-github"></i> GitHub</a><br>
    </div>
    <div class="col-md-3">
        <h3>Aster</h3>
        <p>Insert information about Developer 2 here</p>
        <p>Socials: </p>
        <a href="https://twitter.com/jade_username"><i class="fab fa-twitter"></i> Twitter</a><br>
        <a href="https://www.linkedin.com/in/jade_username/"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
        <a href="https://github.com/jade_username"><i class="fab fa-github"></i> GitHub</a><br>
    </div>
    <div class="col-md-3">
        <h3>Jazz</h3>
        <p>Insert information about Developer 3 here</p>
        <p>Socials: </p>
        <a href="https://twitter.com/vajazzna"><i class="fab fa-twitter"></i> Twitter</a><br>
        <a href="https://www.linkedin.com/in/jade_username/"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
        <a href="https://github.com/jparayaon19"><i class="fab fa-github"></i> GitHub</a><br>
    </div>
    <div class="col-md-3">
        <h3>Oneil</h3>
        <p>Insert information about Developer 4 here</p>
        <p>Socials: </p>
        <a href="https://twitter.com/Oneil_Magno" target="_blank"><i class="fab fa-twitter"></i> Twitter</a><br>
        <a href="https://www.linkedin.com/in/jade_username/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a><br>
        <a href="https://github.com/OneilMagno" target="_blank"><i class="fab fa-github"></i> GitHub</a><br>
    </div>
</div>
<br>
<h2>Resources Used</h2>
<ul>
    <li style="color: white;"><a href="https://openai.com/">Resource 1</a>Betalgo.OpenAI.GPT3 - Dotnet SDK for OpenAI ChatGPT, Whisper, GPT-3 and DALL·E</li>
    <li style="color: white;"><a href="https://learn.microsoft.com/en-us/dotnet/core/whats-new/dotnet-7">Resource 2</a>ASP.NET Core Runtime 7.0.0</li>
    <li style="color: white;"><a href="https://developers.google.com/identity/openid-connect/openid-connect">Resource 3</a>Google's OpenId and OAuth 2.0</li>
    <li style="color: white;"><a href="https://sendgrid.com/">Resource 4</a>SendGrid</li>
</ul>
<div class="footer" style="font-size: 12px;
      font-style: italic;
      margin-top: 20px;">
    <p>This web service was developed as a Senior Capstone Project from Western Oregon University</p>
</div>