@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container">
<div class="text-center" id="title">
    <h2 id="wellMetHeader">Well Met!</h2>
</div>

<div class="text-center" id="adviceBox">
    <h3>Gaze upon our project and behold our...</h3>
    <br /> <br />
    <h1>Campaign Creator</h1>

</div>
</div>*@

<div class="text-center">
<div class="container">
        <div class="text-center" id="title">
            <h2 id="wellMetHeader">Well Met!</h2>
        </div>

        <div class="text-center" id="adviceBox">
            <h3>Gaze upon our project and behold our...</h3>
            <br /> <br />
            <h1>Campaign Creator</h1>

        </div>
    <div class="row">
        <div class="col-sm">
            <h2 class="text-center">What does it do? </h2>
            <h3 class="text-center">
                Using our web application, you are able to create AI-Generated materials for your Table-Top Role Playing Games (TTRPG) or apply it to any game or piece of media that you want!
            </h3>
            <br />
        </div>
        <div class="col-sm">
            <h2 class="text-center">How does it work? </h2>
            <h3 class="text-center">Our app uses OpenAI's Chat GPT-3, which helps us craft text-based materials and DALL-E to help us craft image-based materials for you to utilize.</h3></>
            <br />
   
        </div>
        <div class="col-sm">
            <h2 class="text-center">Where do I start? </h2>
            <h3 class="text-center">Click on the World Icon so that you are able to create a world, save all your materials and have all the materials viewed in one page, or start creating your materials without a world. Do your thing!</h3></> 
    <br />

        </div>

    </div>
</div>
</div>
