@{
    ViewData["Title"] = "Home Page";
}
<header>
<div class="text-center" id="title">
    <h2>Well Met!</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>Gaze upon our project and behold our...</span>
    <br /> <br />
    <h1>Campaign Creator</h1>
    <h3>@ViewBag.Message</h3>
</div>
</header>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>What does it do? </h2>
           <h3>Using our web application, you can create materials for your Table Top RPG, or apply it to any game or piece of media you want!</h3></> 
         <br />
        </div>
        <div class="col-sm">
            <h2>How does it work? </h2>
            <h3>Our application uses openAI's Chat GPT-3, which helps us craft text-based materials for you to utilize.</h3></> 
    <br />
   
        </div>
        <div class="col-sm">
            <h2>Where do I start? </h2>
            <h3>Click The Backstory Icon to get started building your first AI-Generated Text Backstory!</h3></> 
    <br />

        </div>

    </div>
</div>

