@{
    ViewData["Title"] = "Home Page";
}
<header>
<div class="text-center" id="title">
    <h2>Well Met!</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>Gaze upon our project and behold our...</span>
    <br /> <br />
    <h1>Campaign Creator</h1>
</div>
</header>
