@{
    ViewData["Title"] = "Home Page";
}


<header>

    <h1>Campaign Creator</h1>

</header>

<div class="text-center">
<div class="container">
        <div class="text-center" id="title">
            <h2 id="wellMetHeader">Well Met!</h2>
        </div>

        <div class="text-center" id="adviceBox">
            <h3>Gaze upon our project and behold our...</h3>
            <br /> <br />
            <h1>Campaign Creator</h1>

        </div>
    <div class="row">
        <div class="col-sm">

                    <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">What does it do?</h5>
          
            <b class="card-text">Using our web application, you are able to create AI-Generated materials for your Table-Top Role Playing Games (TTRPG) or apply it to any game or piece of media that you want!</b>
          </div>
        </div>

            <br />
        
            </div>

             <div class="col-sm">

                    <div class="card" style="width: 18rem;">
          <div class="card-body">
                        <h5 class="card-title">How does it work?</h5>

                        <b class="card-text">Our app uses OpenAI's Chat GPT-3, which helps us craft text-based materials and DALL-E to help us craft image-based materials for you to utilize</b>
          </div>
        </div>

            <br />
        
            </div>

             <div class="col-sm">

                    <div class="card" style="width: 18rem;">
          <div class="card-body">
                        <h5 class="card-title">Where do I start?</h5>

                        <b class="card-text">Click on the World Icon so that you are able to create a world, save all your materials and have all the materials viewed in one page, or start creating your materials without a world. Do your thing!</b>
          </div>
        </div>

            <br />
        
            </div>

    </div>
</div>
</div>

