@model DWC_NightOwlProject.Data.Song

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script src="/js/toneLib.js"></script>

<h1>Song Details</h1>

<div>
    <hr />
   


     
    <div class="row">
        <div class="col">
        <div class="card">
            
                
                    <div class="card-title" style="color:black;font-family:Magneto" id="notes">Name: @Model.Name</div>

                    <div class="card-body" style="font-style:italic">Notes: @Model.Completion</div>


                    <img class ="card-img-bottom" src="data:image;base64,@System.Convert.ToBase64String(Model.PictureData)" width="512" height="512" />

            </div>

                    </div>
                    <br />

                    <div class="col-sm">
                        <div class="row-sm">
                        <input type="button" class="btn btn-dark m-1" value="Play" onclick="music(@Model.Completion,@Model.InstrumentId,@Model.RateId)" />
                        </div>

                     <div class="row-sm">
                     <input type="button" class="btn btn-dark m-1" value="Stop" onclick="stop()" />
                      </div>

                      <div class="row-sm">    
                     <input type="button" class="btn btn-dark m-1" value="Download" onclick="record(@Model.Completion,@Model.InstrumentId,@Model.RateId)" />
                     </div>
                      </div>


                     </div>

       
        <div>
@*            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
            <a asp-action="Delete" class="btn btn-danger m-1" style="color:white;background-color:red">Delete</a>
            <a asp-action="Index" class="btn btn-dark m-1" style="color:black;background-color:white">Back to Songs</a>
        </div>

   
</div>

