@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}


<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.49/Tone.min.js"></script>

<script src="~/js/MapAnimation.js"></script>
<script src="/js/toneLib.js"></script>



<header>
    <br />
    <br />
    <h1>
        Song
    </h1>

    <h4>
        A good set of songs is the heart of any good campaign.
        <br />
        <br />
        
    </h4>

</header>


<div class="text-center" id="title">
    <h1>Song Creation</h1>
</div>

 <div class="col-sm">
            <input type="button" class="btn btn-dark m-1" value ="Tone"onclick="music()" />
            </div>

<div class="col-sm">
    <input type="button" class="btn btn-dark m-1" value="Download" onclick="record()" />
</div>

<div class="text-center" id="adviceBox">


</div>


