* {
    font-family: 'Comfortaa', cursive;
}
/*Code from McCambley on https://codepen.io/mccambley/pen/ExWmoQB*/
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


@media (min-width: 768px) {
    html {
        font-size: 18px;
        
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

nav {
    background-color: var(--nav-bar-color); /*#1c2424*/
}


body {
    margin-bottom: 300px;
    /*background-color: #F2D7C5;*/
    background-color: var(--main-bg);
}

.bg-img-wrapper {
    content: ' ';
    display: block;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}


/*img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: inline;

}*/

footer {
    position: relative; /* Use relative positioning for the footer */
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    clear: both;
    color: white;
    overflow: hidden;
    text-align: center;
}

#footerContainer {
    display: flex; /* Use flexbox to align items */
    flex-direction: row; /* Set flex direction to row */
    justify-content: space-between; /* Space items evenly along the row */
    align-items: center; /* Vertically center items */
    height: 100%;
}

#imginthefooter {
    flex: 1; /* Use flex to allow image to grow and shrink */
    text-align: left; /* Align image to the left */
    padding-left:5px;
}

#Company_Name {
    flex: 1; /* Use flex to allow text to grow and shrink */
    text-align: right; /* Align text to the right */
    margin-left: 20px;
    padding-right: 25px;
}
#socials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#socials a {
    display: flex;
    align-items: center;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

#socials a img {
    margin-right: 10px;
}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}




.image{
    margin-left:25px;
    

}

.main{
    display:flow;
    margin-top:115px;
    padding-left:23%;
    padding-right:23%;
}

​​​​​​​​​

/*ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: inline;
    color: white;
    padding-left: 10%;
    padding-right:20px;
    text-decoration: none;
    width:5%;
}

li {
    display: inline;
    text-align: left;
    border-bottom: 1px solid #555;
    /*border-bottom: 1px solid #555;*/
    
}

    li:last-child {
        border-bottom: none;
    }

    li a.active {
        background-color: #04AA6D;
        color: #00ffff;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: #00ffff;
    }

h2 {
    color: var(--text-h2);
    padding-top: 50px;
    text-decoration-line:none;
    text-decoration-color: white;
    text-decoration-style: solid;
}
t {
    display: none;
}
s {
    display: none;
}
u {
    display: none;
}

h1{
    color: var(--text-h1);

}

    /* Change the link color on hover */
   
#Logo{
}

.offcanvas-start {
    width: 320px;
}

.offcanvas-header {
    padding: 1rem;
    background-color: var(--sidebar-header-color); /*#1e0d0b*/
}

.offcanvas-title {
    margin-bottom: 0;
    color: #ffffff;
}

.offcanvas-body {
    padding: 1rem;
    background-color: #87302a;
    background-image: var(--sidebar-color);
}

/* Blur effect */
body.offcanvas-open {
    overflow: hidden;
    position: relative;
    filter: blur(3px);
}

/*Code from McCambley on https://codepen.io/mccambley/pen/ExWmoQB*/
.darkMode {
    --nav-bar-color: #1e0d0b;
    --sidebar-color: linear-gradient(to bottom right, #1e0d0b, #5c231e, #ba3f36);
    --sidebar-header-color: #1e0d0b;
    --bg-img: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Image/Beautiful-landscape-wallpaper-4k (1).png");
    --main-bg: #f8fdfa;
    --text-bg: beige;
    --shadow: #a1c6ea;
    --text-h1: #fbf4ef;
    --text-h2: #fbf4ef;
    --text-bg-img-h3: linear-gradient(to bottom right, #ba3f36, #e7aca7);
    --text-h3: #ffffff;
    --text-h4: #e7aca7;
    --text-sec: #bbd1ea;
    --text-main: #dae3e5;
    --span: #e7aca7;
}

.lightMode {
    --nav-bar-color: black;
    --sidebar-color: linear-gradient(to bottom right, #102A43, #243b53, #486581, #829AB1);
    --sidebar-header-color: black;
    --bg-img: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Image/minimal-landscape-k-wallpaper.png");
    --main-bg: #102A43;
    --text-bg: #627D98;
    --shadow: #a1c6ea;
    --text-h1: #fbf4ef;
    --text-h2: #D9e2ec; /*#D9e2ec*/
    --text-bg-img-h3: linear-gradient(to bottom right, #243b53, #486581, #829AB1);
    --text-h3: #ffffff;
    --text-h4: #b1b1b1; /*#b1b1b1*/
    --text-sec: #507dbc;
    --text-main: #16263b;
    --span: #b1b1b1;
}

.toggler {
    position: relative;
    margin-bottom: 24px;
    user-select: none;
}

.content:hover .toggler_icon {
    animation: wiggle 1s linear;
}

.toggler_input{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    user-select: none;
}

.toggler_label {
    display: flex;
    align-items:start;
    cursor: pointer;
    border: 3px solid var(--text-main);
    padding: 2px;
    border-radius: 50px;
    width: 50px;
    margin: 0 auto;
    background-color: var(--text-bg);
    transition: all 0.3s ease;
    user-select: none;
}

.toggler_label:hover {
    background-color: var(--shadow);
}

.toggler_label:active {
    transform: scale(0.95);
}

.transparency {
    opacity: 1;
    transition: all 0.1s ease;
}

    .transparency:hover {
        opacity: 0.7;
    }



/*Code from https://blog.shahednasser.com/how-to-style-an-audio-element/ by Shahed Nasser*/
.audio-player {
    --player-button-width: 2em;
    --sound-button-width: 2em;
    --space: 10em;
    width: auto;
    height: auto;
}

.audio-icon {
    width: 100%;
    height: 100%;
}

.controls {
    display: block;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: none;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
    color: #b8a3a5;
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: 50px;
    height: 30px;
    cursor: pointer;
    margin-right: 55px;
    color: #b8a3a5;
}

#linklabel
{
    border: none;
    color: black;
    font-weight: bold;
    background-color: rgb(109, 3, 3);
}
.nav-link
{
    background-color: none;
    color: rgb(235, 207, 213);
}
h3 {
    background-color: #ba3f36;
    background-image: var(--text-bg-img-h3);
    padding: 10px;
    border-radius: 15px;
    color: var(--text-h3);
}

span {
    color: var(--span) ;/*#e7aca7*/
}

h4,p
{
    color: var(--text-h4);
}
#EncounterContent
{
    /*background-color: rgb(33, 60, 41);*/
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 227, 233);
}

/*input[type=button], button[type=button],a.btn,button.btn,input.btn
{
    color: white;
    background-color: black;
    border-color: rgb(37, 1, 1);
}*/
.results
{
    background-color: rgb(215, 184, 116);
    padding: 10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border-style: inset;
    border-color: rgb(239, 208, 140);
    border-width: 1%;
}
#notes
{
    color: white;
}
label
{
    color: black;
}

f{

}

