* {
    font-family: 'Comfortaa', cursive;
}


@media (min-width: 768px) {
    html {
        font-size: 18px;
        
        
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

nav {
    background-color: #311d24; /*#1c2424*/
}

body {
    margin-bottom: 300px;
    /*background-color: #F2D7C5;*/
    background-color: #a1797c;
}
img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: inline;

}

footer {
    position: center;
    bottom: 0px;
    width: 100%;
    height: 200px;
    background-color: black;
    clear: both;
    color:white;
    overflow:hidden;
    text-align:center;

}

#footerContainer {

}

canvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

.vnav{
    
}


.image{
    margin-left:25px;
    

}

.main{
    display:flex;
    margin-top:-500px;
    padding-left:25%;
}

​​​​​​​​​

ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
}

li a {
    display: inline;
    color: white;
    padding-left: 10%;
    padding-right:20px;
    text-decoration: none;
    width:5%;
}

li {
    display: inline;
    text-align: left;


    
}

    li:last-child {
        border-bottom: none;
    }

    li a.active {
        background-color: #04AA6D;
        color: #00ffff;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: #00ffff;
    }

h2{
    color:brown;
    padding-top:50px;
}
p{
    display:none;
}
t {
    display: none;
}
s {
    display: none;
}
u {
    display: none;
}

    /* Change the link color on hover */
   
#Logo{
}
