
@{
    ViewData["Title"] = "Index";
}

<div class="text-center" id="title">
    <h2>Backstory Creation</h2>
</div>

<div class="adviceBox">
    <p>There is a lot to explore in the vastness of the world, but the question lies within yourself...</p>
    <p>When will you start?</p>
</div>

