@model DWC_NightOwlProject.Data.Material
@{
    ViewData["Title"] = "Index";
}




    <div class="text-center" id="title">
        <h2>Backstory Creation</h2>
    </div>

    <div class="text-center" id="adviceBox">
        <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
    <p>Fill your prophecy with a template or create your own</p>
    </div>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1> Create your backstory with a template?</h1>
         Easier, Step-by-Step <br />
         <input type="button" class="" value="Create Your Backstory" onclick="window.location= '@Url.Action( "Template", "Backstory")'" />
        </div>
        <div class="col-sm">
            <h1> Create your backstory all from Scratch?</h1>
    More advanced, but potentially more creative! <br />
    <input type="button" class="" value="Create Your Backstory" onclick="window.location= '@Url.Action( "Scratch", "Backstory")'" />
        </div>
        
    </div>
</div>
   
<h2>Backstory:</h2>    
@if (Model != null)
{
    <h3>@Model.Completion</h3>
}

