@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Backstory Creation</h1>
</div>

<div class="align-content-lg-center" id="adviceBox">
    <p>Choose between using a template for OpenAI to generate for you or just type into the text box what type of story you want to write! Choose wisely as this is your dabloons you are using, oh wise adventurer</p>
</div>
