@model DWC_NightOwlProject.Data.MaterialVM
@{
    ViewData["Title"] = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>

<script src="~/js/MapAnimation.js"></script>



<header>
    <br />
    <br />
    <h1>
        Map
    </h1>

    <h4>
        A Map is a Game Master's best friend, and the pivotal material for game interactions to take place.
        <br />
        <br />
        Craft your Map in one of two ways. You can have up to 4 map materials at once before you have to start deleting them!
    </h4>

</header>


<div class="text-center" id="title">
    <h1>Map Creation</h1>
</div>

<div class="text-center" id="adviceBox">
    

</div>





<div class="container">
    <div class="row">

      

        <div class="col-sm">
            <h2> Create your Map with a template</h2>
            <h4>Easier, Step-by-Step</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="template" onclick="reveal('t','s')">Template</button>

            

            <t id="t">
            <form asp-action="Template" id="create_template_form" method="post">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                                <label asp-for="r0" class="control-label">Is this map inside or outside?</label>
                                <input asp-for="r0" class="form-control" required/>
                                <span asp-validation-for="r0" class="text-danger"></span>

                                <label asp-for="r1" class="control-label">What type of biome is the map?</label>
                                <input asp-for="r1" class="form-control" required />
                                <span asp-validation-for="r1" class="text-danger"></span>

                                <label asp-for="r2" class="control-label">What structures exist on the map? E.g. Buildings, trees, etc.</label>
                                <input asp-for="r2" class="form-control" required />
                                <span asp-validation-for="r2" class="text-danger"></span>


                              


                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">

                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Map" onclick="toggle()" />

                </div>
            </form>

            </t>
            
        </div>
        <div class="col-sm">
            <h2> Create your Map From Scratch</h2>
            <h4>More difficult, but potentially more creative</h4> <br /> <br />

            <button class="btn btn-dark m-1" id="scratch" onclick="reveal('s','t')">From Scratch</button>



            <s id= "s">
            <form asp-action="Scratch" id="create_scratch_form">
                <div class="container">
                    <div class="row-cols-lg-1">
                        <div class="col">

                               <label asp-for="r0" class="control-label">Describe Your Map:</label>
                                <input asp-for="r0" class="form-control-lg" required/>
                                <span asp-validation-for="r0" class="text-danger"></span>

                        </div>

                    </div>
                </div>





                <div class="form-group mt-3 text-center">
                   

                        <input type="submit" class="btn btn-primary m-1" id="Create" value="Create Map" onclick="toggle()" />

                </div>
            </form>
            </s>


            
            


        </div>
        <div class="col-sm">
            <h2>Create a map based on other existing materials</h2>
            <h4>Make a map that references other content</h4>
            <a asp-controller="Maps" asp-action="CreateWithReference" class="btn btn-primary m-1">Create map</a>
        </div>

       

    </div>
</div>

    <h2>Completions:</h2>
    @if (Model != null)
    {
        <div class="row">
            @for (var i = 0; i < Model.maps.Count; ++i)
            {

                <div class="col">
                    @if (Model.maps[i] != null)
                    {
                        <div class="row" id="notes">@Model.maps[i].Name</div>
                       
                    <br />
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.maps[i].PictureData)" width="256" height="256" />
                        @*<div class="row"><iframe style="width:250px; height: 250px; overflow: hidden;" scrolling="no" frameborder="0" src=@Model.materials[i].PictureData></iframe></div>*@
                        @*<div class="row">Creation Date: @Model.materials[i].CreationDate.ToOADate().ToString();</div>*@
                        <br />

                        <a asp-controller="Maps" asp-action="details" asp-route-id="@Model.maps[i].Id" class="btn btn-primary m-3">Details</a>
                        <a asp-controller="Maps" asp-action="delete" asp-route-id="@Model.maps[i].Id" class="btn btn-danger">Delete</a>
                        <div class="col" style="padding-right: 6%; padding-left: 6%;">
                            <a class="btn btn-secondary text-center" href="data:image;base64,@System.Convert.ToBase64String(Model.maps[i].PictureData)" download="map.png">Download</a>
                        </div>
                    }
                </div>
            }
        </div>
    }

<div class = "sketch" id="sketch"></div>

