@model DWC_NightOwlProject.Data.Quest



<div class="text-center" id="title">
    <h2>Quest Creation Result</h2>
</div>

<div class="text-center" id="adviceBox">
    <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
</div>

<h4>
    Completion:  <br />
</h4>
<p class="results">
@Model.Completion
</p>
<br />

<a href="@Url.Action("Save","Quests")">Save</a> &nbsp; <a href="@Url.Action("Index","Quests")">Discard</a> &nbsp; <button class="btn btn-secondary" onclick="downloadFile()">Download your Quest!</button>


<script>
    function downloadFile() {
        const link = document.createElement("a");
        const content = "@Html.Raw(Model.Completion).ToString().Substring(2)";
        const file = new Blob([content], { type: "text/plain" });
        link.href = URL.createObjectURL(file);
        link.download = "quest.txt";
        link.click();
        URL.revokeObjectURL(link.href);
    };
</script>