@model DWC_NightOwlProject.ViewModel.ReferenceSelector
@{
    ViewData["Title"] = "Quest";
}
<div><div class="container"><div class="row"><div class="col">
        <form asp-action="ReferenceCompletion" method="post">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h3>Create a quest</h3>
        <br />
        <div class="form-group">
            <label asp-for="SelectedBackstory" class="control-label">Select backstory</label>
            <select id="BackstoryListSelect" asp-for="SelectedBackstory" asp-items="@Model.BackstoryList()" onclick="showselectbackstory()"></select>
        </div>
        <div class="form-group">
                <label asp-for="Prompt" class="control-label">Describe your quest</label>
                <input asp-for="Prompt" class="form-control">
                <span asp-validation-for="Prompt" class="text-danger"></span>
        </div>
        <div id="Backstory"></div>
        <input type="submit" value="Create quest">
        </form>
</div></div></div></div>