@model DWC_NightOwlProject.ViewModel.GuidedQuestViewModel
@{
    ViewData["Title"] = "Guided quest creation";
}
<div>
    <h2>Guided quest</h2>
    <p>If you want to create a quest with specific objectives
        the players should reach before the ultimate goal, this
        is where you can do that. 
        
        Start by describing the overall quest (example: release 
        the prince from where he is trapped) and the first 
        objective (example: find someone who knows where the prince
        is trapped)
    </p>@*
    @if(Model!=null)
    {
        @if(ViewBag.Message!=null)
        {
            <p>@ViewBag.Message</p>
        }
        <p>This is a quest where @Model.OverallQuest</p>
        for(int i=0;i<=Model.ResultsLength;i++)
        {
            <p>Part @i</p>
            <p>@Model.StepResults[i]</p>
        }
        <p>Add a new step to your quest</p>
        <form asp-action="GuidedQuestTemplate" method="post">
            <div class="form-group">
                <label asp-for="CurrentStep" class="control-label">Describe the general concept of your quest</label>
                <input asp-for="CurrentStep" class="form-control">
                <span asp-validation-for="CurrentStep" class="text-danger"></span>
            </div>
            <input type="submit" value="Continue quest">
        </form>
    }
    else
    {*@
        <form asp-action="ContinueGuidedQuest" method="post">
            <div class="form-group">
                <label asp-for="OverallQuest" class="control-label">Describe the general concept of your quest</label>
                <input asp-for="OverallQuest" class="form-control">
                <span asp-validation-for="OverallQuest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentStep" class="control-label">Describe the first step of your quest</label>
                <input asp-for="CurrentStep" class="form-control">
                <span asp-validation-for="CurrentStep" class="text-danger"></span>
            </div>
            <input type="submit" value="Start quest">
        </form>
    @*}*@
</div>