@model DWC_NightOwlProject.Data.Material

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/addons/p5.sound.min.js"></script>
<script src="~/js/QuestAnimation.js"></script>
<div class="text-center" id="title">
    <h2>Quest Creation</h2>
</div>




<div class="text-center" id="adviceBox">
    <span>There is a lot to explore in the vastness of the world, but the question lies within yourself...</span>
</div>

<h2>Crafting Table</h2>

<form id="create-template-form">
    <div class="container">
        <div class="row-cols-lg-1">
            <div class="col">

                <label for="fromScratch" class="control-label">Create a Quest in as little or as much details as you like:</label>
                <input id="fromScratch-input" name="fromScratch" class="text-xxl-center" type="text" required min="0" max="1000" />

            </div>
            
        </div>
    </div>

    <div class="form-group mt-3 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <input type="submit" class="Prompt" value="Submit Your Template" /> <br /> <br />
                </div>
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <input type="button" class="" value="Create Your Quest" onclick="toggle(); window.location='@Url.Action( "Completion", "Quests")' 'draw()' "  />
                </div>
            </div>
        </div>




    </div>
</form>

<script>
    const btnEl = document.querySelector('.btn');

    btnEl.addEventListener('click', fireball());
    btnEl.addEventListener('click',alert("This is working"));






</script>