@model DWC_NightOwlProject.Data.Character

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Character Details</h1>

<div>
    <hr />
    <dl class="row">


        <dt class="col-sm-2" id="notes">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10" id="notes">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>


        <dt class="col-sm-2" id="notes">
            @Html.DisplayNameFor(model => model.Completion)
        </dt>
        <dd class="col-sm-10" id="notes">
            <img src="data:image;base64,@System.Convert.ToBase64String(Model.PictureData)" width="1064" height="1064" />
        </dd>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </dl>
</div>

